<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Nos Services Gourmands</h2>
                <hr class="light">
                <p class="text-faded">Offrez à vos événements une touche de raffinement avec nos services traiteur : buffets dinatoires élaborés, options de livraison et plats à emporter, conçus pour transformer chaque occasion en un festin mémorable à la Brasserie La DifférAnce.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
