<section class="no-padding" id="photos">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/2.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Brochette de gambas et Saint-Jacques
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/3.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Œuf parfait aux saveurs italiennes
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
        <a href="#menu" class="portfolio-box page-scroll">
            <img src="img/photos/7.jpeg" class="img-responsive" alt="">
            <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                    <div class="project-category text-faded">
                        Dos de cabillaud en croûte de chorizo
                    </div>
                </div>
            </div>
        </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/9.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Saumon gravlax, sauce fraîcheur et blinis
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/10.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Dos de cabillaud en croûte de noisette et chorizo
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/11.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Bûche de Noël chocolat framboise
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/12.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Tarte ananas passion meringuée
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/16.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Souris d'agneau confite
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/18.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Côte de bœuf de l'Aubrac 500g
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/19.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Pavé de thon en croûte provençale et son risotto au pesto verde
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/20.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Œuf parfait, crème de courgette et chips de panais
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/21.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Tarte à la tomate et ses petits légumes
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/22.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Tataki de magret de canard
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/23.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Tataki de magret de canard
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/27.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Cassoulet traditionnel
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/29.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Pithivier de pigeonneau
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/30.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Dos de sandre
                      </div>
                  </div>
              </div>
          </a>
      </div>
      <div class="col-md-2 col-xs-4">
          <a href="#menu" class="portfolio-box page-scroll">
              <img src="img/photos/31.jpeg" class="img-responsive" alt="">
              <div class="portfolio-box-caption">
                  <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                          Tajine aux abricots
                      </div>
                  </div>
              </div>
          </a>
      </div>
    </div>
  </div>
</section>
